// VARIABLES
$font-lora: 'Lora';
$font-oxygin: 'Oxygin';

$font-color: #ffffff;
$bg-color: #F7F7F7;
$link-color: #DD783F;
$rgba1-color: rgba(255, 255, 255, 0.63);
$rgba2-color: rgba(255, 255, 255, 0.7);
$list-color: #768088;
$text-color: #2E2E2E;
$line-color: #DEDEDE;
$list2-color: #7A7A7A;
$author-bg: #FCFCFC;
$author-color: #999999;
$stay-in-color: #EFEFEF;